<md-dialog style="min-width:400px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
   
            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h1 translate="reset.finish.title">Reset password</h1>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="control-label" for="password" translate="global.form.newpassword">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    </md-input-container>
                    <md-dialog-actions layout="row">
                        <span flex></span> 
                        <md-button type="submit" class="md-primary md-raised" ng-disabled="form.$invalid"  translate="reset.finish.form.button">
                            Reset Password
                        </md-button>
                        
                    </md-dialog-actions>
                </form>
            </div>

        </div>
    </div>
</md-dialog>
