<!doctype html>
<html ng-app="<%= angularAppName %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= baseName %></title>
    <meta name="description" content="">
   
    <meta name="google" value="notranslate">
   
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css content/css/main.css -->
    <link rel="stylesheet" href="content/css/main.css">
    <!-- endbuild -->
</head>
<body  layout="row">
        
    <!-- SideNav -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
            <md-toolbar class="md-theme-indigo" layout="row">
                <h2 class="md-toolbar-tools">Menu</h2>
            </md-toolbar>
            <md-content layout-padding>
                <div ui-view="navbar">
                    <!-- Angular views -->
                </div>    
            </md-content>
        </md-sidenav>
        
    <div layout="column" flex id="wrapper" ng-cloak>
        <md-toolbar class="md-theme-indigo" layout="row">
           <md-button class="md-icon-button" aria-label="menu">
            <ng-md-icon icon="menu"></ng-md-icon>
           </md-button>
           <h2 class="md-toolbar-tools">Main Toolbar</h2>
        </md-toolbar>
        
        <!-- Main -->
        <md-content>
           <div ui-view="content">
            <!-- Angular views -->
           </div>
        </md-content>    
    </div>


    <!-- build:js app/vendor.js -->
    <!-- bower:js -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js app/app.js  -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>
