<% var keyPrefix = angularAppName + '.'+ entityTranslationKey + '.'; %>
<md-dialog>
    <form name="editForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate="<%= keyPrefix %>home.createOrEditLabel">Create or edit a <%= entityClassHumanized %></h2>
                <span flex></span>
                <ng-md-icon icon="close"></ng-md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" layout-padding>
                <div layout-gt-sm="row">
                    <%_ for (idx in fields) {
                        var fieldName = fields[idx].fieldName;
                        var fieldNameCapitalized = fields[idx].fieldNameCapitalized;
                        var fieldNameHumanized = fields[idx].fieldNameHumanized;
                        var fieldType = fields[idx].fieldType;
                        var fieldTypeBlobContent = fields[idx].fieldTypeBlobContent;
                        var fieldInputType = 'text';
                        var ngModelOption = '';
                        var translationKey = keyPrefix + fieldName;
                        if (fieldType == 'Integer' || fieldType == 'Long' || fieldType == 'Float' || fieldType == 'Double' || fieldType == 'BigDecimal') {
                            fieldInputType = 'number';
                        } else if (fieldType == 'LocalDate' || fieldType == 'Date') {
                            fieldInputType = 'date';
                        } else if (fieldType == 'ZonedDateTime') {
                            fieldInputType = 'datetime-local';
                        } else if (fieldType == 'Boolean') {
                            fieldInputType = 'checkbox';
                        } else if ((fieldType == 'byte[]' || fieldType == 'ByteBuffer') && fieldTypeBlobContent != 'text') {
                            fieldInputType = 'hidden';
                        }  _%>
                        
                                       
                        <%_ if ( (fieldInputType === 'text'&& !fields[idx].fieldIsEnum) || fieldInputType === 'number'  ) { _%>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate="<%= translationKey %>"><%= fieldNameHumanized %></label>
                            <input ng-model="vm.<%= entityInstance %>.<%= fieldName %>" name="<%= fieldName %>" id="field_<%= fieldName %>" <% if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { %>required<% } %>>
                            <%_ if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { _%>
                            <div ng-messages="editForm.<%= fieldName %>.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                            <%_ } _%>
                        </md-input-container>
                        <%_ } _%>
                        
                        <%_ if (fieldInputType === 'date' || fieldInputType === 'datetime-local') { _%>
                        <mdp-date-picker ng-model="vm.<%= entityInstance %>.<%= fieldName %>" name="<%= fieldName %>" mdp-placeholder="Enter <%= fieldNameHumanized %>" <% if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { %>required<% } %>>
                        <%_ if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { _%>
                            <div ng-messages="editForm.<%= fieldName %>.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        <%_ } _%>
                        </mdp-date-picker>
                        <%_ } _%>

                      
                        
                         <%_ if (fields[idx].fieldIsEnum) { _%>
                            
                            <md-input-container>
                                <label translate="<%= translationKey %>"><%= fieldNameHumanized %></label>
                                <md-select ng-model="vm.<%= entityInstance %>.<%= fieldName %>" name="<%= fieldName %>" <% if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { %>required<% } %>>
                                    <md-option ng-repeat="enu in vm.<%= fieldName %>Values" value="{{enu.value}}">
                                        {{enu.value}}
                                    </md-option>             
                                </md-select>
                                <%_ if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { _%>
                                <div ng-messages="editForm.<%= fieldName %>.$error">
                                    <div ng-message="required">This is required</div>
                                </div>
                                <%_ } _%>
                            </md-input-container>   
                            <%_ } _%>       
                            
                            
                            
                        
                   
                    <%_ } _%>
                    
                    
                </div>
                <div layout-gt-sm="row">
                    <%_ for (idx in relationships) {
                            var relationshipType = relationships[idx].relationshipType;
                            var ownerSide = relationships[idx].ownerSide;
                            var relationshipName = relationships[idx].relationshipName;
                            var relationshipFieldName = relationships[idx].relationshipFieldName;
                            var relationshipFieldNamePlural = relationships[idx].relationshipFieldNamePlural;
                            var relationshipNameHumanized = relationships[idx].relationshipNameHumanized;
                            var otherEntityName = relationships[idx].otherEntityName;
                            var otherEntityStateName = relationships[idx].otherEntityStateName;
                            var otherEntityField = relationships[idx].otherEntityField;
                            var otherEntityFieldCapitalized = relationships[idx].otherEntityFieldCapitalized;
                            var relationshipRequired = relationships[idx].relationshipRequired; _%>
                        <%_ if (relationshipType == 'many-to-one'
                                || (relationshipType == 'one-to-one' && ownerSide == true)
                                || (relationshipType == 'many-to-many' && ownerSide == true && pagination == 'no')) { _%>
                    
                            <%_ if (otherEntityName == 'user') { _%>
										<%_ if (relationshipType == 'many-to-many') { _%>
											
												{{<%= relationshipFieldName %>.<%= otherEntityField %>}}
											
										<%_ } else { _%>
														<%_ if (dto == 'no') { _%>
											{{<%= entityInstance + "." + relationshipFieldName + "." + otherEntityField %>}}
														<%_ } else { _%>
											{{<%= entityInstance + "." + relationshipFieldName + otherEntityFieldCapitalized %>}}
														<%_ } _%>
										<%_ } _%>
                            <%_ } else { _%>
                                
								
								<%_ if (relationshipType == 'many-to-many') { _%>
                                
                                
        <%= relationshipFieldName %>
        
      
      
                                
												
                                <%_ } else { _%>
												<%_ if (dto == 'no') { _%>
                                                <md-input-container>
        <label translate="<%= keyPrefix %><%= relationshipName %>"><%= relationshipNameHumanized %></label>
        <md-select name="<%= relationshipFieldName %>" ng-model="vm.<%= entityInstance  + "." + relationshipFieldName%>" <% if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { %>required<% } %>>        
            <md-option ng-value="<%=otherEntityName %>" ng-repeat="<%=otherEntityName %> in vm.<%= relationships[idx].otherEntityNameCapitalizedPlural.toLowerCase() %> ">{{<%= otherEntityName + "." + otherEntityField %>}}</md-option>
        </md-select>
        <%_ if (fields[idx].fieldValidate == true && fields[idx].fieldValidateRules.indexOf('required') != -1) { _%>
            <div ng-messages="editForm.<%= relationshipFieldName %>.$error">
               <div ng-message="required">This is required</div>
            </div>
        <%_ } _%>
      </md-input-container>                        
                                                                        
                                                                        
                                                                        
									
												<%_ } else { _%>
									{{<%= entityInstance + "." + relationshipFieldName + otherEntityFieldCapitalized %>}}
												<%_ } _%>
                                <%_ } _%>
                            <%_ } _%>
                    
                        <%_ } _%>
                    <%_ } _%>
                 </div>
                 
            </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="editForm.$invalid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

