<md-dialog style="min-width:500px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate="password.title" translate-values="{username: '{{vm.account.login}}'}">Password for [<b>{{vm.account.login}}</b>]</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <form name="form" role="form" novalidate ng-submit="vm.changePassword(form)" show-validation>
                <md-dialog-content>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="control-label" for="password" translate="global.form.newpassword">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                            ng-model="vm.password" ng-focus="form.passwordemail.$setValidity('validationError', true);" ng-minlength=4
                            ng-maxlength=50 required>
                        <div ng-messages="form.password.$error">
                            <div ng-message="required">This is required</div>
                            <div ng-message="md-minlength">The password has to at least 4 characters long.</div>
                            <div ng-message="md-maxlength">The password has to be less than 50 characters long.</div>
                            <div ng-message="validationError">{{vm.validationError}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>

                    </md-input-container>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="password.form.button">Save</button>
                </md-dialog-actions>
            </form>
        </div>
    </div>
</md-dialog>