<md-list>
<!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
<md-divider></md-divider>
  <md-subheader class="md-no-sticky">Entities</md-subheader>
  <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  
  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">Account</md-subheader>
  <md-list-item>
    <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
    <p>Settings</p>
  </md-list-item>
  <md-list-item>
    <md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
    <p>Password</p>
  </md-list-item>
  <md-list-item>
    <md-icon class="md-default-theme" class="material-icons">&#xE251;</md-icon>
    <p>Sign out</p>
  </md-list-item>
  <md-list-item>
    <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
    <p>Sign in</p>
  </md-list-item>
  <md-list-item>
    <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
    <p>Register</p>
  </md-list-item>
  
  
  <md-divider></md-divider>
  <md-subheader class="md-no-sticky">Administration</md-subheader>
  <md-list-item>
    <p>User management</p>
  </md-list-item>
  <md-list-item>
    <p>Metrics</p>
  </md-list-item>
  <md-list-item>
    <p>Health</p>
  </md-list-item>
  <md-list-item>
    <p>Configuration</p>
  </md-list-item>
  <md-list-item>
    <p>Audits</p>
  </md-list-item>
  <md-list-item>
    <p>logs</p>
  </md-list-item>
  <md-list-item>
    <p>API</p>
  </md-list-item>
  
</md-list>
  