<md-dialog style="min-width:400px">

            <form ng-show="!vm.success" name="registrationForm" role="form" novalidate ng-submit="vm.register()" show-validation>
                 <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h1 translate="register.title">Registration</h1>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-dialog-content>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate="global.form.username">Username</label>
                        <input type="text" id="login" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                            ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                        
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate="global.form.email">E-mail</label>
                        <input type="email" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                            ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                        
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate="global.form.newpassword">New password</label>
                        <input type="password" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                            ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                        
                       
                   </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        
                    </md-input-container>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <span flex></span> 
                    <md-button type="submit" class="md-primary md-raised" ng-disabled="registrationForm.$invalid"  translate="register.form.button">
                        Register
                    </md-button>
                </md-dialog-actions>

            </form>
</md-dialog>
