<md-content layout-padding>
    <h2 translate="settings.title" translate-values="{username: '{{vm.settingsAccount.login}}'}">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>

    <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div class="form-group">
            <md-input-container>
                <label class="control-label" for="firstName" translate="settings.form.firstname">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                    ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <label class="control-label" for="lastName" translate="settings.form.lastname">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                    ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                    ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
            </md-input-container>
        </div>
        <% if (enableTranslation){ %>
            <div class="form-group">
                <label for="langKey" translate="settings.form.language">Language</label>
                <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="<%=jhiPrefixCapitalized%>LanguageController as languageVm"
                    ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages"></select>
            </div>
            <% } %>
                <md-button ng-disabled="form.$invalid" type="submit" translate="settings.form.button">Save</md-button>
    </form>
</md-content>